<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <a href="https://icons8.com/icon/98957/user"></a>
    <a href="https://icons8.com"></a>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Form Validation</title>
    <style>
        .error-message {
            color: red;
            font-size: 12px;
        }

        .cash-message {
            color: red;
            font-size: 12px;
        }


        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black with opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            /* 10% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
        }

        /* Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Apply Button */
        button.apply-btn {
            background-color: #308f33;
            color: white;
            width: 150px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            /* margin-top: 10px; */
        }

        button.apply-btn:hover {
            background-color: #45a049;
        }
    </style>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>

            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="/login">login</a>
                                <a href="/logout">Logout</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="/shopping-cart">Cart</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/checkout">Check Out</a></li>
                                    <li><a href="/shop-details">Shop Details</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contacts</a></li>
                                    <li><a href="/blog-details">Blog Details</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <a href="/userProfile"><img style="padding-left: 20px;"
                                src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="" /></a>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <a href="/wallet"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <!-- <div class="price">$0.00</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">

                <div class="row">
                    <div class="col-lg-8 col-md-6">


                        <h3 class="checkout__title">Address</h3>



                        <div class="d-flex flex-wrap " style="justify-content: space-around;">

                            <% if (userdata && userdata.address && userdata.address.length> 0) { %>
                                <% userdata.address.forEach((data,index)=> { %>

                                    <div class="product__item"
                                        style="background-color: #f3f2ee; width: 200px; padding: 15px; text-align: left;">

                                        <input type="radio" id="address_<%= data._id%>" name="group1"
                                            value="<%= data._id%>"
                                            style="display: block; margin: 0 auto; color: black;">


                                        <label for="radioOption1">Address <%= index+1%></label>
                                        <li>Name: <%= data.name %>
                                        </li>
                                        <li>Phone: <%= data.phone %>
                                        </li>
                                        <li>Country: <%= data.country %>
                                        </li>
                                        <li>Landmark: <%= data.landmark %>
                                        </li>
                                        <li>City: <%= data.city %>
                                        </li>
                                        <li>Address: <%= data.address %>
                                        </li>
                                        <li>Pincode: <%= data.pincode %>
                                        </li>
                                        <!-- Add more address details as needed -->
                                    </div>

                                    <% }); %>
                                        <% } else { %>
                                            <h2>No addresses</h2>
                                            <% } %>



















                                                <!-- Add more items if needed -->

                        </div>




                        <!-- <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6>-->
                        <h3 class="checkout__title">Add Address</h3>


                        <form id="addressForm" action="/addAddress?cartid=<%= cart._id %>" method="post"
                            onsubmit="return validateForm()">
                            <div class="checkout__input">
                                <p>Name</p>
                                <input type="text" name="name" id="name">
                                <p id="nameError" style="color: red;" class="error-message"></p>
                            </div>
                            <div class="checkout__input">
                                <p>Phone</p>
                                <input type="text" name="phone" id="phone">
                                <p id="phoneError" style="color: red;" class="error-message"></p>
                            </div>
                            <div class="checkout__input">
                                <p>Country</p>
                                <input type="text" name="country" id="country">
                                <p id="countryError" style="color: red;" class="error-message"></p>
                            </div>
                            <div class="checkout__input">
                                <p>Landmark</p>
                                <input type="text" name="landmark" id="landmark">
                                <p id="landmarkError" style="color: red;" class="error-message"></p>
                            </div>
                            <div class="checkout__input">
                                <p>Town/City</p>
                                <input type="text" name="city" id="city">
                                <p id="cityError" style="color: red;" class="error-message"></p>
                            </div>
                            <div class="checkout__input">
                                <p>Address</p>
                                <input type="text" name="address" id="address">
                                <p id="addressError" style="color: red;" class="error-message"></p>
                            </div>
                            <div class="checkout__input">
                                <p>Pin Code</p>
                                <input type="text" name="pincode" id="pincode">
                                <p id="pincodeError" style="color: red;" class="error-message"></p>
                            </div>

                            <br>
                            <button type="submit"
                                style="width: 50%;display: block;margin-left: auto;margin-right: auto;"
                                class="site-btn">SUBMIT</button>
                            <br><br>
                        </form>







                    </div>
                    <div class="col-lg-4 col-md-6">



                        <div class="checkout__order">
                            <div class="cart__discount">
                                <h6>Discount codes</h6>
                                <form>
                                    <input type="hidden" id="couponData" value='<%= JSON.stringify(coupon) %>'>

                                    <input type="text" id="inputData" placeholder="Coupon code" value="">
                                    <button onclick="applyCoupon(event)" type="submit">Show</button>
                                </form>

                            </div>
                            <!-- The Modal -->
                            <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">

                                    <span style="margin-left:97% ;" class="close">&times;</span>
                                    <h2 style="color: #072d08;">Available Coupons</h2>
                                    <hr>
                                    <ul style="margin-left:50px ;" id="couponList"></ul>
                                </div>

                            </div>

                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                <% if (cart && cart.items && cart.items.length> 0) { %>
                                    <ul class="checkout__total__products">
                                        <% cart.items.forEach((item, index)=> { %>
                                            <li>
                                                <%= index + 1 %>.<%= item.product_id.name %><span>₹<%= item.price %> x
                                                                <%= item.quantity %> </span>
                                            </li>
                                            <% }) %>
                                    </ul>
                                    <% } else { %>
                                        <% if (cart.length> 0) { %>
                                            <ul class="checkout__total__products">
                                                <% cart.forEach((cartItem, cartIndex)=> { %>
                                                    <% if (cartItem.items.length> 0) { %>
                                                        <% cartItem.items.forEach((item, index)=> { %>
                                                            <li>
                                                                <%= cartIndex + 1 %>.<%= item.product_id.name %><span>₹
                                                                            <%= item.price %> x <%= item.quantity %>
                                                                        </span>
                                                            </li>
                                                            <% }) %>
                                                                <% } else { %>
                                                                    <p>No items in the cart.</p>
                                                                    <% } %>
                                                                        <% }) %>
                                            </ul>
                                            <% } else { %>
                                                <p>No carts available.</p>
                                                <% } %>

                                                    <% } %>

                            </ul>

                            <ul class="checkout__total__all">
                                <li>Subtotal <span>₹<%= total %></span></li>
                                <li>Discount <span id="discount">₹0</span></li>
                                <li>Total <span id="totalval">₹<%= total %></span></li>
                            </ul>









                            <form>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Cash on delivery
                                        <input type="checkbox" id="paypal" name="paymentMethod">
                                        <span class="checkmark"></span>

                                    </label>
                                    <label>
                                        Razor pay
                                        <input type="checkbox" id="rzp-button1" name="paymentMethod">
                                        <span class="checkmark"></span>
                                        
                                    </label>
                                    <label >
                                        Wallet
                                        <input type="checkbox" id="Wallet" name="paymentMethod">
                                        <span class="checkmark"></span>
                                        <p id="cashError" style="color: red;" class="cash-message"></p>
                                    </label>
                                </div>


                                <input type="hidden" id="cartIds" value="<%= cart._id %>">

                                <button type="submit"
                                    onclick="return buyProduct('<%= cart._id %>','<%= total %>',event)"
                                    class="site-btn">PLACE ORDER</button>
                            </form>

                            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>




                        </div>



                    </div>


                </div>

            </div>
        </div>
    </section>
    <!-- Checkout Section End -->



    <script>
        function calculateTotal(code) {
            //console.log(2222, code);
            const total = document.getElementById(`totalval`).innerText;

            const amount = total.replace('₹', ''); // Remove the currency symbol
           // console.log(amount);

            document.getElementById('cashError').innerText = ''



            $.ajax({
                url: '/calculateCoupon',
                method: 'POST',

                data: ({ code: code, amount: amount }),


                success: function (response) {
                    // handle success response
                    if (response.status === 'success') {

                        var newData = response.data;

                        const discount=amount-response.data

                        document.getElementById('discount').innerText = `₹${discount}`

                        document.getElementById(`totalval`).innerText = `₹${newData}`

                        //console.log(newData);
                    } else if (response.status === 'date') {

                        document.getElementById('cashError').innerText = 'The coupon has expired.'

                    } else if (response.status === 'minAmount') {

                        document.getElementById('cashError').innerText = 'The minimum amount required for this coupon has not been reached.'

                    } else if (response.status === 'noQty') {

                        document.getElementById('cashError').innerText = 'No quantity available for this coupon.'

                    } else if (response.status === 'used') {

                        document.getElementById('cashError').innerText = 'This coupon already used by the user.';

                    } else {

                        document.getElementById('cashError').innerText = 'An error occurred. Please try again later.';

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // handle error
                    console.error("Error:", errorThrown);
                }
            });

        }


        //-------------------------------------------------
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        function applyCoupon(event) {
            event.preventDefault();
            var couponDataString = document.getElementById("couponData").value;

            //console.log(1111,couponDataString);

           
            var couponData = JSON.parse(couponDataString);

            //console.log(2222,couponData);
            
            const displaydata = couponData.map((valu) => ({ name: valu.couponName, code: valu.couponCode, minimum: String(valu.minAmount) }));


            var availableCoupon = displaydata.map((item) => '<strong>Coupon Name:</strong> ' + item.name + '<br>' + '<strong>Coupon Code:</strong>' + item.code + '<br>' + '<strong>minimun Amount:</strong>' + item.minimum);

            var couponList = document.getElementById("couponList");
            couponList.innerHTML = "";

            availableCoupon.forEach(function (coupon) {

                var hr = document.createElement("hr");
                couponList.appendChild(hr);

                var li = document.createElement("li");
                li.innerHTML = coupon; 
                couponList.appendChild(li);

                var br = document.createElement("br");
                couponList.appendChild(br);


                
                var button = document.createElement("button");
                button.textContent = "Apply";
                button.classList.add("apply-btn");


                couponList.appendChild(button);


                // Add an event listener to the "Apply" button
                button.addEventListener("click", function () {



                    var couponCode = coupon.split('<strong>Coupon Code:</strong>')[1].split('<br>')[0].trim();
                    console.log("Coupon Code:", couponCode);

                    document.getElementById('inputData').value = couponCode

                    calculateTotal(couponCode)


                    modal.style.display = "none";
                });

                // Add a line break after each button

                var br1 = document.createElement("br");
                couponList.appendChild(br1);
            });



            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";


        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


    </script>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <script>


        function buyProduct(cartid, totel, e) {

            let therd = true;
            let second = true
            let first = true
            e.preventDefault
            // Reset error message
            document.getElementById('cashError').innerText = '';

            const totalAmount = document.getElementById(`totalval`).innerText;

            const amount = totalAmount.replace('₹', ''); // Remove the currency symbol
            console.log(amount);


            var selectedAddressId;
            var radioOptions = document.getElementsByName('group1');
            for (var i = 0; i < radioOptions.length; i++) {
                if (radioOptions[i].checked) {
                    selectedAddressId = radioOptions[i].value;
                    break;
                }
            }
            //console.log(selectedAddressId);
            // Validate selected address
            if (!selectedAddressId) {
                document.getElementById('cashError').innerText = 'Select an address.';
                first = false;
            }

            //--address hear----
            let addressid = selectedAddressId;


            // Get checkbox state
            var isCashOnDeliveryChecked = document.getElementById('paypal').checked;
            var ispaybottun = document.getElementById('rzp-button1').checked;
            var isWallet=document.getElementById('Wallet').checked;

            const total = parseInt(amount);
            //console.log(total);

            if (totel == 0) {
                document.getElementById('cashError').innerText = 'No Product';
                second = false;
            }

            //---------------------------------finish-------------------------



            // Validate Cash on Delivery checkbox
            if (isCashOnDeliveryChecked || ispaybottun || isWallet) { } else {
                document.getElementById('cashError').innerText = 'Select any payment method.';
                therd = false;
            }


            if (first && second && therd) {

                if (isCashOnDeliveryChecked) {

                    if (total < 1000) {

                        e.preventDefault();
                        $.ajax({
                            url: `/buyproduct?method=COD&cartid=${cartid}&total=${total}&addid=${addressid}`,
                            method: 'post',

                        }).done(function (response) {
                            // Handle the response here
                            if (response.status === 'success') {
                                console.log(response.odredid);

                                window.location.href = `/success?orderid=${response.odredid}`;


                            } else {
                                console.log("fail");
                            };


                        }).fail(function (jqXHR, textStatus, errorThrown) {

                            console.error('AJAX request failed:', textStatus, errorThrown);
                            alert('Failed to place the order. Please try again.');
                        });


                    } else {
                        e.preventDefault();
                        document.getElementById('cashError').innerText = 'Cash on Delivery is not available for orders less than ₹1000.';
                    }



                
                //====================

                }else if(isWallet){
                    e.preventDefault()

                    $.ajax({
                            url: `/buyproduct?method=wallet&cartid=${cartid}&total=${total}&addid=${addressid}`,
                            method: 'post',

                        })
                        .done(function (response) {
                            // Handle the response here
                            if (response.status === 'success') {
                                console.log(response.odredid);

                                window.location.href = `/success?orderid=${response.odredid}`;


                            }else if(response.status === 'faild'){
                                document.getElementById('cashError').innerText = 'Insufficient balance in your Wallet.';
                            } else {
                                console.log("fail");
                            };


                        }).fail(function (jqXHR, textStatus, errorThrown) {

                            console.error('AJAX request failed:', textStatus, errorThrown);
                            alert('Failed to place the order. Please try again.');
                        });

                    console.log("walle");
                } else {
                    //-----------------------cdx---------------
                    console.log(6546378922);
                    e.preventDefault();
                    $.ajax({
                        url: `/buyproduct?method=razerpay&cartid=${cartid}&total=${total}&addid=${addressid}`,
                        method: 'post',

                    }).done(function (response) {

                        if (response.status === 'razer') {

                           
                            razerPayment(response);
                        }

                    }).fail(function (jqXHR, textStatus, errorThrown) {

                        console.error('AJAX request failed:', textStatus, errorThrown);
                        alert('Failed to place the order. Please try again.');
                    });
                }




            } else {
                return false
            }
        }
        function razerPayment(orderdata) {


            var options = {

                "key": "rzp_test_fz8s5MTBK2bkp1", // Enter the Key ID generated from the Dashboard
                "amount": orderdata.order.amount,
                "currency": "INR",
                "name": "Acme Corp",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": orderdata.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifypayment(response, orderdata);
                },
                "theme": {
                    "color": "#3399cc"
                }

            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                console.log('fail');

                $.ajax({
                    url: '/addStatus',
                    data: {
                        orderdata
                    },
                    method: 'post'
                })
                    .done((data) => {

                        window.location.href = `/success?paymentid=${orderdata.order.receipt}`;
                    })
            });
            rzp1.open();

        }

        function verifypayment(payment, orderdatas) {

            //console.log(5555555,payment,66666,orderdatas);
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    orderdatas

                },
                method: 'post',
                success: (response) => {
                    if (response.status) {

                        window.location.href = `/success?paymentid=${orderdatas.order.receipt}`;


                    } else {
                        console.log('fail');
                    }
                }
            })
        }

    </script>







    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



    <script>
        function validateForm() {
            // Reset error messages
            document.getElementById('nameError').innerText = '';
            document.getElementById('phoneError').innerText = '';
            document.getElementById('countryError').innerText = '';
            document.getElementById('landmarkError').innerText = '';
            document.getElementById('cityError').innerText = '';
            document.getElementById('addressError').innerText = '';
            document.getElementById('pincodeError').innerText = '';

            // Get form values
            var name = document.getElementById('name').value;
            var phone = document.getElementById('phone').value;
            var country = document.getElementById('country').value;
            var landmark = document.getElementById('landmark').value;
            var city = document.getElementById('city').value;
            var address = document.getElementById('address').value;
            var pincode = document.getElementById('pincode').value;

            // Flag to check if the form is valid
            var isValid = true;

            // Validate Name
            if (name.trim() === '') {
                document.getElementById('nameError').innerText = 'Name is required';
                isValid = false;
            }

            // Validate Phone
            if (phone.trim() === '') {
                document.getElementById('phoneError').innerText = 'Phone is required';
                isValid = false;
            } else if (!/^\d{10}$/.test(phone)) {
                document.getElementById('phoneError').innerText = 'Invalid phone number';
                isValid = false;
            }

            // Validate Country
            if (country.trim() === '') {
                document.getElementById('countryError').innerText = 'Country is required';
                isValid = false;
            }

            // Validate Landmark
            // Add similar validation for other fields
            if (landmark.trim() === '') {
                document.getElementById('landmarkError').innerText = 'Country is required';
                isValid = false;
            }

            // Validate City
            if (city.trim() === '') {
                document.getElementById('cityError').innerText = 'City is required';
                isValid = false;
            }

            // Validate Address
            if (address.trim() === '') {
                document.getElementById('addressError').innerText = 'Address is required';
                isValid = false;
            }

            // Validate Pin Code
            if (pincode.trim() === '') {
                document.getElementById('pincodeError').innerText = 'Pin Code is required';
                isValid = false;
            } else if (!/^\d{5}$/.test(pincode)) {
                document.getElementById('pincodeError').innerText = 'Invalid Pin Code';
                isValid = false;
            }

            return isValid;
        }
    </script>




    <script>
        $(document).ready(function () {
            // Handle checkbox click events
            $('input[name="paymentMethod"]').click(function () {
                // Uncheck all checkboxes
                $('input[name="paymentMethod"]').not(this).prop('checked', false);
            });
        });
    </script>

</body>

</html>