<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <a href="https://icons8.com/icon/98957/user"></a>
    <a href="https://icons8.com"></a>

    <style>
        .offer-price {
    font-size: 1.2em; /* Adjust font size as needed */
    margin-right: 10px; /* Adjust margin as needed */
}

.original-price {
    text-decoration: line-through;
    color: #999; /* Adjust color as needed */
    margin-right: 5px; /* Adjust margin as needed */
}

.discount {
    background-color: #ff5722; /* Adjust background color as needed */
    color: white; /* Adjust text color as needed */
    border: none;
    padding: 3px 8px; /* Adjust padding as needed */
    border-radius: 3px; /* Adjust border radius as needed */
}
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>

            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="/login">login</a>
                                <a href="/logout">Logout</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="/shopping-cart">Cart</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/checkout">Check Out</a></li>
                                    <li><a href="/shop-details">Shop Details</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contacts</a></li>
                                    <li><a href="/blog-details">Blog Details</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <a href="/userProfile"><img style="padding-left: 20px;"
                                src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="" /></a>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <a href="/wallet"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <!-- <div class="price">$0.00</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="/shop" method="get">
                                <input type="text" placeholder="Search..." name="search">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <a href="/shop">
                                                        <li style="color: black;">ALL CATEGORIES</li>
                                                    </a>
                                                    <% if(Categories.length> 0){ %>
                                                        <% for(let i=0;i<Categories.length;i++) { %>

                                                            <a href="/shop?categid=<%=Categories[i]._id %>">
                                                                <li style="color: black;">
                                                                    <%=Categories[i].name%>
                                                                </li>
                                                            </a>
                                                            <% } %>
                                                                <% }else{ %>
                                                                    <li>There are no categories</li>

                                                                    <% } %>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1-12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select id="sortprice" onchange="priceSort()">
                                        <option value="">Sort by</option>
                                        <option value="/shop?sort=-1&categId=<%=categId%>">High To Low</option>
                                        <option value="/shop?sort=1&categId=<%=categId%>">Low To High</option>

                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>





                    <div id="reloadDiv">
                        <div class="row">
                            <% if(products.length> 0){ %>
                                <% for(let i=0;i<products.length;i++){ %>



                                    <div class="col-lg-4 col-md-6 col-sm-6 " style="padding-top: 30px;">
                                        <div class="product__item">
                                            <div class="product__item__pic">
                                                <div class="product__image-container">
                                                    <img 
                                                        src="sharpImage/<%= products[i].image[0] %>" 
                                                        alt="<%= products[i].name %>" 
                                                        class="product__image"
                                                    >
                                                </div>
                                                
                                                <ul class="product__hover">
                                                    <li onclick="addToWishlist('<%=products[i]._id%>')">
                                                        <img src="img/icon/heart.png" alt="Wishlist">
                                                    </li>
                                                    <li>
                                                        <a href="/showdetails/<%=products[i]._id%>"><img src="img/icon/compare.png" alt="Compare">
                                                            <span>Compare</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><img src="img/icon/search.png" alt="Search"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                    
                                            <div class="product__item__text">
                                                <h5><%=products[i].name%></h5>
                                                
                                                <div class="price-container">
                                                    <% if (products[i].offer) { %>
                                                        <% const discountedPrice = products[i].price - (products[i].price * (products[i].offer.percentage / 100)); %>
                                                        <h5 class="offer-price">₹ <%= Math.floor(discountedPrice) %></h5>
                                                        <span class="original-price">₹ <%= products[i].price %></span>
                                                        <button class="discount"> <%= products[i].offer.percentage %>% off</button>
                                                    <% } else if (products[i].category.offer) { %>
                                                        <%
                                                        let maxPercentage = 0;
                                                        let maxOffer = null;
                                                    
                                                        offerdata.forEach((datas) => {
                                                            if (datas._id.toString() === products[i].category.offer.toString() && datas.percentage > maxPercentage) {
                                                                maxPercentage = datas.percentage;
                                                                maxOffer = datas;
                                                            }
                                                        });
                                                    
                                                        if (maxOffer) {
                                                            const discountedPrice = products[i].price - (products[i].price * (maxOffer.percentage / 100));
                                                        %>
                                                            <h5 class="offer-price">₹ <%= Math.floor(discountedPrice) %></h5>
                                                            <span class="original-price">₹ <%= products[i].price %></span>
                                                            <button class="discount"> <%= maxOffer.percentage %>% off</button>
                                                        <% } else { %>
                                                            <h5 class="offer-price">₹ <%= products[i].price %></h5>
                                                        <% } %>
                                                    <% } else { %>
                                                        <h5 class="offer-price">₹ <%= products[i].price %></h5>
                                                    <% } %>
                                                </div>
                                    
                                                <div class="product-actions">
                                                    <form id="addToCartForm_<%=products[i]._id%>" action="/addcart/<%=products[i]._id%>" method="post">
                                                        <input type="hidden" name="price" id="offerPrice-<%=products[i]._id%>" value="">
                                                        <button class="add-cart" type="button" onclick="addToCart('<%=products[i]._id%>')">
                                                            + Add To Cart
                                                        </button>
                                                    </form>
                                    
                                                    <div class="stock-status <%= products[i].quantity <= 0 ? 'out-of-stock' : 'in-stock' %>">
                                                        <%= products[i].quantity <= 0 ? 'Out of stock' : 'In stock' %>
                                                    </div>
                                    
                                                    <input type="hidden" id="qty-<%=products[i]._id%>" value="<%=products[i].quantity%>">
                                                    <input type="hidden" id="newprice-<%= products[i]._id %>" 
                                                        value="<%= 
                                                            products[i].offer ? 
                                                            Math.floor(products[i].price - (products[i].price * (products[i].offer.percentage / 100))) : 
                                                            (products[i].category.offer ? 
                                                                Math.floor(products[i].price - (products[i].price * (maxOffer.percentage / 100))) : 
                                                                products[i].price) 
                                                        %>"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }%>

                                        <%}else{%>
                                            <div>
                                                <h1>There are no products</h1>
                                            </div>
                                            <% } %>




                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <% if (currentPage> 1) { %>
                                    <a href="/shop?page=<%= currentPage - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <% } %>
                                        <% for(let i=1; i <=totalPages; i++) { %>
                                            <span class=" <%= i === currentPage ? 'active' : '' %>">
                                                <a href="/shop?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                            </span>
                                            <% } %>
                                                <% if (currentPage < totalPages) { %>
                                                    <a href="/shop?page=<%= currentPage + 1 %>" aria-label="Next">
                                                        <span aria-hidden="true">&raquo; </span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                    <% } %>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="user" value="<%= locals.userdata %>">
    </section>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function addToWishlist(productid){
            const userchek=document.getElementById(`user`).value;
            
            if(userchek){

            Swal.fire({
                title: 'Product Added to Wishlist!',
                text: 'You have successfully added the product to your Wislist.',
                icon: 'success',
                showCancelButton: false,
                confirmButtonText: 'OK'
            }).then((result) => {
                // If the user clicks "OK", submit the form
                if (result.isConfirmed) {

                   fetch(`/addWishlist?productid=${productid}`,{
                    method:'post'
                   })
                }
            });
            }else{
                window.location.href = '/wishlist';
            }

            
        }
    </script>
    

    <script>
        
        function addToCart(productId) {
            const quantity=document.getElementById(`qty-${productId}`).value;
        //console.log(quantity);
           if(quantity>0){
            const userchek=document.getElementById('user').value;
       
            const offer=document.getElementById(`newprice-${productId}`).value;

            document.getElementById(`offerPrice-${productId}`).value=offer;

            //console.log(offer);

             if(userchek){
            Swal.fire({
                title: 'Product Added to Cart!',
                text: 'You have successfully added the product to your cart.',
                icon: 'success',
                showCancelButton: false,
                confirmButtonText: 'OK'
            }).then((result) => {
                
                if (result.isConfirmed) {
                    $.ajax({
                        url:`/addcart/${productId}`,
                        method:'POST',
                        data:{
                            price:offer
                        }
                    })

                    //document.getElementById(`addToCartForm_${productId}`).submit();
                }
            });
        }else{
                window.location.href = '/wishlist';
        }

        }
    }
    </script>
    
    <script>
        //  window.location.href = selectedValue;


        async function priceSort() {
            const sortPrice = document.getElementById('sortprice');
            const selectedOption = sortPrice.options[sortPrice.selectedIndex];
            const selectedValue = selectedOption.value;
            console.log(selectedValue);
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }


        async function sortElement(sorturl) {
            fetch(`${sorturl}`, {
                method: "get"
            }).then(data => {
                console.log('success');

                //$('#reloadDiv').load('/shop',"#reloadDiv")

            })

        }

    </script>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <!-- <script>
        function redirect(select) {
            const selectedValue = select.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    </script> -->
</body>
<style>
    .product__item {
        display: flex;
        flex-direction: column;
        height: 100%; /* Full height of the column */
        box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: adds subtle depth */
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .product__item:hover {
        transform: translateY(-5px);
    }

    .product__image-container {
        width: 100%; 
        height: 250px; /* Consistent height */
        display: flex; 
        justify-content: center; 
        align-items: center; 
        overflow: hidden;
        background-color: #f8f9fa; /* Light background for image container */
    }

    .product__image-container img {
        max-width: 100%; 
        max-height: 100%; 
        object-fit: contain;
        object-position: center;
        transition: transform 0.3s ease;
    }

    .product__item__text {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    .product__item__text h5 {
        margin-bottom: 10px;
        text-align: center;
        color: #333;
    }

    .price-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .offer-price {
        color: #e44d26;
        margin-right: 10px;
        font-weight: bold;
    }

    .original-price {
        text-decoration: line-through;
        color: #888;
        margin-right: 10px;
    }

    .discount {
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 3px 8px;
        font-size: 0.8em;
    }

    .product-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .add-cart {
        width: 100%;
        padding: 8px 15px;
        background-color: #2c5c22;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-cart:hover {
        background-color: #3a7b2f;
    }

    .stock-status {
        width: 100%;
        padding: 8px 15px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
    }

    .in-stock {
        background-color: #2a8951;
        color: white;
    }

    .out-of-stock {
        background-color: #862015;
        color: white;
        cursor: not-allowed;
    }
</style>
</html>