
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <a href="https://icons8.com/icon/98957/user"></a>
    <a href="https://icons8.com"></a>

    <link rel="stylesheet" href="mystyle.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
     <style>
        table {
            border-collapse: collapse;
            width: 100%;
            
            
        }
    
        th, td {
            border: 1px solid rgb(199, 199, 211);
            padding: 12px;
            text-align: left;
            
            
            
            
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>

            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="/login">login</a>
                                <a href="/logout">Logout</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="/shopping-cart">Cart</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/checkout">Check Out</a></li>
                                    <li><a href="/shop-details">Shop Details</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contacts</a></li>
                                    <li><a href="/blog-details">Blog Details</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <a href="/userProfile"><img style="padding-left: 20px;"
                                src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="" /></a>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <a href="/wallet"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <a class="list-group-item list-group-item-action" href="/wallet">WALLET</a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad" style="background-color: #f3f2ee;">

        <div class="container light-style flex-grow-1 container-p-y" >
            <h2 class="font-weight-bold py-3 mb-4">
               USER PROFILE
            </h2>
            
            
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <br><br>
                            <a class="list-group-item list-group-item-action " 
                                href="/userProfile">PROFILE</a>
                            <a class="list-group-item list-group-item-action" 
                                href="/editProfile">EDIT PROFILE</a>
                            <a class="list-group-item list-group-item-action " 
                                href="/userpassword">MANAGE PASSWORD</a>
                            <a class="list-group-item list-group-item-action active" 
                                href="">ORDERS</a>
                            <a class="list-group-item list-group-item-action" 
                                href="/addressManage">MANAGE ADDRESS</a>
                            <!-- <a class="list-group-item list-group-item-action" 
                                href="">Notifications</a> -->
                        </div>
                    </div>
    
                   
    
    
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general" style="padding: 20px;">

                               <h2 class="list-group-item">Your Orders</h2>
                                
                                <table>
                                    <thead>
                                        <tr style="color: rgb(37, 37, 135); " >
                                            <th ></th>
                                            <th>Product</th>
                                            <th >Order ID</th>
                                            <th>Order Date</th>
                                            <th>Total Amoount</th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if(data){%>
                                            <% data.forEach((item)=>{%>
                                        <tr>
                                            
                                            <td>
                                                <% item.items.forEach((datas, index) => { %> 
                                                            <img style="width: 50px;height: 50px; margin: 5px 0;" src="/publicImages/<%= datas.productId.image[0] %>" alt=""><br>
                                                            <% if (index < item.items.length - 1) { %>
                                                                <hr style="margin:  0; border: none; border: 1px solid #c2b8b8;">
                                                            <% } %>
                                                        <% }) %>

                                            </td>
                                            <td>
                                                <% item.items.forEach((datas, index) => { %> 
                                                    <p style="margin: 0; margin-bottom: 10px;"><%= datas.productId.name %></p>
                                                    <% if (index < item.items.length - 1) { %>
                                                        <hr style="margin:  0; border: none; border: 1px solid #c2b8b8;">
                                                    <% } %>
                                                <% }) %>
                                               
                                            </td>
                                            
                                            <td><%= item.orderId %></td>
                                            <td><%= new Date(item.date).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %> </td>
                                            <td> ₹ <%= item.totalamount %></td>
                                            <td>
                                                <a href="/userOererView?orderid=<%= item._id %>"><button style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">VIEW</button>
</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>                     
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        
           
        </div>

    </section>
    

    
    
    
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
    

    
</body>

</html>
