<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <a href="https://icons8.com/icon/98957/user"></a>
    <a href="https://icons8.com"></a>

    <link rel="stylesheet" href="mystyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        table {
            border-collapse: collapse;
            width: 100%;


        }

        th,
        td {
            border: 1px solid rgb(139, 139, 189);
            padding: 12px;
            text-align: left;




        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>

            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="/login">login</a>
                                <a href="/logout">Logout</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="/shopping-cart">Cart</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/checkout">Check Out</a></li>
                                    <li><a href="/shop-details">Shop Details</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contacts</a></li>
                                    <li><a href="/blog-details">Blog Details</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <a href="/userProfile"><img style="padding-left: 20px;"
                                src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="" /></a>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <a href="/wallet"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <!-- <div class="price">$0.00</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad" style="background-color: #f3f2ee;">

        <div class="container light-style flex-grow-1 container-p-y">
            <h2 class="font-weight-bold py-3 mb-4">
                USER PROFILE
            </h2>


            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <br><br>
                            <a class="list-group-item list-group-item-action " href="/userProfile">PROFILE</a>
                            <a class="list-group-item list-group-item-action" href="/editProfile">EDIT PROFILE</a>
                            <a class="list-group-item list-group-item-action " href="/userpassword">MANAGE PASSWORD</a>
                            <a class="list-group-item list-group-item-action active" href="/userOrder">ORDERS</a>
                            <a class="list-group-item list-group-item-action" href="/addressManage">MANAGE ADDRESS</a>
                            <a class="list-group-item list-group-item-action" href="/wallet">WALLET</a>
                        </div>
                    </div>




                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general" style="padding: 20px;">
                                <!-- Your existing HTML content -->
                                <div class="list-group-item" style="margin-bottom: 30px; display: flex; justify-content: space-between; align-items: center;">
                                    <h2 style="display: inline; margin: 0;">ORDERS</h2>
                                    <a href="/downloadinvoice?orderid=<%= order._id %>"><button  style="background-color: #114813; color: white; padding: 15px; border: none; border-radius: 4px; cursor: pointer;">Download</button></a>
                                </div>
                                <!-- Rest of your HTML content -->
                            
                                <!-- <section class="contact spad" style="background-color: #f3f2ee;"> -->
                                <div class="container"
                                    style="display: flex; justify-content: center; background-color: rgb(242, 244, 241);">
                                    <div class="row"
                                        style="min-width: 1100px; display: flex; flex-direction: column; align-items: center; text-align: center; padding: 20px;">

                                        <div>
                                            <br>
                                            <h2 style="color: green;" id="title">ORDER DETAILS</h2>
                                            <hr>

                                        </div>

                                        <!-- Display Order Details -->
                                        <div style="width: 100%; margin-top: 20px;">
                                            <p id="order-id"><strong>Order ID:</strong> <%= order.orderId %></p>
                                            <p id="order-date"><strong>Date:</strong> <%= new Date(order.date).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %></p>
                                            <p id="order-total-amount"><strong>Total Amount:</strong> ₹ <%= order.totalamount %></p>
                                            <p id="order-delivery-address"><strong>Delivery Address:</strong> <%= order.deliveryaddress.address %>, <%= order.deliveryaddress.city %>, <%= order.deliveryaddress.country %></p>
                                            <p id="order-expected-delivery"><strong>Expected Delivery:</strong> <%= order.expecteddelivery %></p>
                                            <p id="order-status" style="color: red;"><strong style="color: black;">Payment Status:</strong> <%= order.status %></p>
                                            <p id="order-status"> <% if(order.status == "pending"){ %>
                                                       <button onclick="repayment('<%= order._id %>')" class="btn-success">Repayment</button>
                                                <%}%>
                                            </p>
                                        </div>

                                        <div style="margin-top: 20px;">
                                            <h3 id="items">Ordered Items:</h3>
                                            <hr>
                                            <% order.items.forEach(item=> { %>
                                                <div  id="ordered-item">
                                                    <p id="productId-<%= item.productId %>"><strong>Product ID:</strong>
                                                        <%= item.productId._id %>
                                                    </p>
                                                    <p id="productName-<%= item.productname %>"><strong>Product Name:</strong>
                                                        <%= order.userId.name %>
                                                    </p>
                                                    <p id="productQty-<%= item.quantity %>"><strong>Quantity:</strong>
                                                        <%= item.quantity %>
                                                    </p>
                                                    <p id="productPrice-<%= item.price %>"><strong>Price:</strong> ₹ <%= item.price %>
                                                    </p>
                                                    <p><strong>Total Price:</strong> ₹ <%= item.totalprice %>
                                                    </p>
                                                    <p id="productStatus-<%= item.oaderStatus %>" style="color: red;"><strong
                                                            style="color: black;">status:</strong>
                                                        <%= item.oaderStatus %>
                                                    </p>

                                                    <% if(item.oaderStatus=="Delivered" ){ %>


                                                        <button class="btn-primary badge"
                                                            onclick="cancelOrder('<%= order._id %>','<%= item.productId._id %>','return')">RETURN
                                                            ORDER</button>                                                     

                                                        <%}else if(item.oaderStatus=="Out for Delivery"||item.oaderStatus== 'Requested return' ||item.oaderStatus== 'Requested cancellation'||item.oaderStatus== 'Returned' ||item.oaderStatus== 'Cancelled' ){%>


                                                            <% }else{%>

                                                                <button class="btn-primary badge"
                                                                    onclick="cancelOrder('<%= order._id %>','<%= item.productId._id %>','cancel')">CANCEL
                                                                    ORDER</button>


                                                                <%}%>
                                                </div>
                                                <hr>
                                                <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <!--  </section> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </section>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
     
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function repayment(orderId){
           console.log(111,orderId);
           $.ajax({
            url:'/repayment',
            data:{
                orderId
            },
            method:'post'
          })
            .done(function (response) {
                
                if(response.status==='razer'){
                   
                
                razerPayment(response);
                }
            })






        


        }
    function razerPayment(orderdata){
    

    var options = {
    
        "key": "rzp_test_fz8s5MTBK2bkp1", // Enter the Key ID generated from the Dashboard
        "amount": orderdata.order.amount, 
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": orderdata.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            console.log('success');
             verifypayment(response,orderdata);
           },
         "theme": {
               "color": "#3399cc"
            }
    
         };
         var rzp1 = new Razorpay(options);
         rzp1.on('payment.failed', function (response){
            console.log('fail');
        
        
    
    });
        rzp1.open();
    
}

function verifypayment(payment,orderdatas){

//console.log(5555555,payment,66666,orderdatas);
$.ajax({
    url:'/verify-payment',
    data:{
        payment,
        orderdatas
       
    },
    method:'post',
    success:(response)=>{
      if (response.status) {

        location.reload();

       
      }else{
        console.log('fail');
      }
    }
})
}
        
    </script>







    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    

    <script>

        function cancelOrderRequst(orderId, productId, action, value){
            //console.log(orderId, productId, action, value);

            fetch(`/userOrderRequst?orderid=${orderId}&productid=${productId}&data=${action}&reason=${value}`,{
                method:'POST'
            })
            .then((response)=>response.json())
            
            .then((data)=>{
                console.log('yes');
                window.location.href = window.location.href;
                
            })
            .catch((error)=>{
                console.log(error);
            })
           
        }



//------------------------------------
        function cancelOrder(orderId, productId, action) {
            // You can perform any immediate actions here without prompting for a reason
            console.log("OrderId: ", orderId);
            console.log("ProductId: ", productId);
            console.log("Action: ", action);

            cancelOrderWithReasonPrompt(orderId, productId, action)

        function cancelOrderWithReasonPrompt(orderId, productId, action) {
            Swal.fire({
                title: 'Confirm Order Cancellation',
                text: 'Are you sure you want to cancel this order?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, cancel it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Enter Cancellation Reason',
                        input: 'text',
                        inputLabel: 'Reason',
                        inputPlaceholder: 'Enter your reason here',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirm',
                    }).then((reasonResult) => {
                        if ( reasonResult.value) {
                            console.log(reasonResult.value);
                            cancelOrderRequst(orderId, productId, action, reasonResult.value);
                        }
                    });
                }
            });
        }
    }
    </script>







    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
   
<!-- Include jsPDF library -->


<script>
    function download(e) {
        e.preventDefault();
         
        if (typeof jsPDF !== 'undefined') {
            // Initialize jsPDF
            const doc = new jsPDF();
            
            // Fetch order data from the HTML elements
            const title = document.querySelector("#title").textContent;
            const orderId = document.querySelector("#order-id").textContent;
            const date = document.querySelector("#order-date").textContent;
            const totalAmount = document.querySelector("#order-total-amount").textContent;
            const deliveryAddress = document.querySelector("#order-delivery-address").textContent;
            const expectedDelivery = document.querySelector("#order-expected-delivery").textContent;
            const status = document.querySelector("#order-status").textContent;

            // Format order data
            let orderData = `${title}\n` +
                            ` ${orderId}\n` +
                            ` ${date}\n` +
                            `${totalAmount}\n` +
                            ` ${deliveryAddress}\n` +
                            ` ${expectedDelivery}\n` +
                            ` ${status}\n\n`;
              console.log(orderData);
             const productno= document.querySelectorAll("#ordered-item")

             console.log(productno);
             document.querySelectorAll("#ordered-item").forEach(item => {
    // Extract the HTML content of the ordered item
    const productId = item.querySelector(`#productId-${item.id}`).textContent;
    const productName = item.querySelector(`#productName-${item.id}`).textContent;
    const productQty = item.querySelector(`#productQty-${item.id}`).textContent;
    const productPrice = item.querySelector(`#productPrice-${item.id}`).textContent;
    const productStatus = item.querySelector(`#productStatus-${item.id}`).textContent;

    // Construct HTML content for the ordered item
    const itemHtml = `<strong>Product ID:</strong> ${productId}<br>` +
                     `<strong>Product Name:</strong> ${productName}<br>` +
                     `<strong>Quantity:</strong> ${productQty}<br>` +
                     `<strong>Price:</strong> ${productPrice}<br>` +
                     `<strong>Status:</strong> ${productStatus}<br>`;

    // Append the HTML content to the orderData string
    orderData += `${itemHtml}\n\n`;
});


           
            
            console.log(orderData);

            // Add order data to PDF
            doc.text(orderData, 10, 10);
            
            // Save the PDF
            doc.save('order_data.pdf');
        } else {
            console.error('jsPDF library is not loaded');
        }
    }
</script>



    


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>


    <!-- <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>



</body>

</html>